@keyframes strokeOffset {
  0% {
    stroke-dashoffset: 1000;
  }

  50%,
  80% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -1000;
  }
}

.logo .overlay {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;

  animation: strokeOffset 6s ease-in-out forwards infinite;
}
